<a href="/" class="auth-logo">
  <svg width="32" height="32" viewBox="0 0 32 32" fill="none"><circle cx="16" cy="16" r="14" fill="#FF8C69" opacity="0.15"/><path d="M16 6 L18.5 12 L25 12.5 L20 17 L21.5 24 L16 20.5 L10.5 24 L12 17 L7 12.5 L13.5 12 Z" fill="#FF8C69"/></svg>
  BabySpace
</a>
