<%- include('../partials/sidebar') %>
<div class="main">
  <%- include('../partials/topbar') %>
  <div class="content">
    <div class="stats-bar">
      <div class="stat-mini"><div class="stat-mini-value" id="statCount">0</div><div class="stat-mini-label">Presentes na lista</div></div>
      <div class="stat-mini"><div class="stat-mini-value" id="statValue">R$ 0</div><div class="stat-mini-label">Valor total</div></div>
    </div>

    <div id="catalogContainer"></div>
  </div>
</div>
